* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 100% Verdana, Arial, sans-serif;
}

#map
{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 95%;
    border: 0px solid #000;
    background: #999;
    border-radius: 0em;
}

#float_bar
{
  position: relative;
  margin-top: 10%;
  margin-left: 70%;
}
@media screen and (min-width: 2561px) { 
  #float_bar {
    width: 700px;
  } 
} 
@media screen and (max-width: 2560px) { 
  #float_bar {
    width: 600px;
  } 
} 
@media screen and (max-width: 1440px) { 
  #float_bar {
    width: 400px;
  } 
} 
@media screen and (max-width: 1024px) { 
  #float_bar {
    width: 300px;
  } 
} 
@media screen and (max-width: 768px) { 
  #float_bar {
    width: 150px;
  } 
} 
@media screen and (max-width: 425px) { 
  #float_bar {
    width: 100px;
  }
  body {
    font-size: 100em;
  }
} 

#content_bar
{
  position: relative;
  margin: auto;
  border: 0px solid #F00;
  z-index: 1;
  border-radius: 2em;
  background:rgba(255, 255, 255, 0.9);
  text-align:center;
}

#search_bar {
  width: 100%;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  position: relative;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  z-index: 1;
  border-radius: 2em;
  background:rgba(255, 255, 255, 0.9);
  text-align:center;
}

#version {
  position: fixed;
  bottom: 0.5%;
  right: 4rem;
  z-index: 1;
  color: rgb(255, 255, 255);
}

body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 300%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  height: 5%;
  width: 100%;
}

.title_bar{
  bottom: 0;
  height: 3.5%;
  left: 3%;
  position: fixed;
  cursor: pointer;
  z-index: 3;
  float: left;
  color: #f2f2f2;
  text-align: center;
  font-size: 17px;
}